<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<style>
		* {
			margin: 5px auto;
		}
	</style>
</head>

<body>
    <form action="/insertarSesion" method="post">
		Nombre:
		<input type="text" name="nombre" th:value="${nombreSesion}" required> <br>
		Asunto:
		<input type="text" name="asunto"> <br>
		Comentario:
		<textarea cols="40" rows="5" name="descripcion" placeholder="comentario"></textarea> <br>
		<input type="submit" value="Enviar">
	</form>
</body>

</html>