@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    --moradito: #631093;
    --Mclarito: #772DA3;

    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    padding: 0;
    margin: 0;
}
main {
    margin: 13em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}
input, select {
    padding: 10px;
}
h1 {
    font-size: 1.6em;
}
span {
    font-size: 1em;
}
textarea {
    /* Para que solo se pueda extender hacia abajo */
    min-width: 682px;
    max-width: 682px;
    min-height: 174px;
    padding: 10px;
}
input:last-child {
    padding: 15px 25px;
    color: white;
    background-color: var(--moradito);
    border: 2px solid black;
    transition: 0.2s ease-in-out;
    border-radius: 4px;
}
input:last-child:hover {
    background-color: white;
    color: var(--moradito);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.286);
    transition: 0.2s ease-in-out;
}