<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{../css/estilos.css}" href="../static/css/estilos.css">
    <title>Tareas</title>
</head>

<body>
    <header>
        <!-- el CSS tiene que estar en static -->
        <!-- Página principal -->
        <a class="header__a" th:href="@{/tareas}">Tareas</a>
        <a class="header__a" th:href="@{/login}">Inicia Sesión</a>
        <a class="header__a" th:href="@{/crear}">Crear cuenta</a>
    </header>
    <main>
        <h2>Hola, ${usuario.user}</h2>
        <form action="/agregarTarea" method="post">
            <input type="text" name="tarea" placeholder="Nueva tarea">
            <input type="submit" value="Agregar">
        </form>

        <ul>
            <th:block th:each="tarea t : ${tareas}">
                <li>
                    <span th:text="${tarea}"></span>
                    <form action="/eliminarTarea" method="post" style="display:inline;">
                        <input type="hidden" name="indice" th:value="${t.indice}">
                        <input type="submit" value="Eliminar">
                    </form>
                </li>
            </th:block>
        </ul>
    </main>
</body>

</html>