<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
	<h1>Índice para navegar mejor por los ejercicios.</h1>
    <h2>Índice de ejercicios:</h2>
	<h3>Tema 2:</h3>
	<a href="nuevoAnuncio">Ejercicio 1</a> <br>
	<a href="Tema2/Ejercicio2">Ejercicio 2</a> <br>
	<a href="Tema2/Ejercicio3">Ejercicio 3</a> <br>
	<a href="Tema2/anuncioEj4">Ejercicio 4 (anuncioEj4.html)</a> <br>
</body>

</html>