<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<style>
		* {
			margin: 5px auto;
		}
	</style>
</head>

<body>
	<h1>Anuncio</h1>
    Nombre: <span th:text="${anuncioEscogido.nombre}"></span><br>
    Asunto: <span th:text="${anuncioEscogido.asunto}"></span><br>
    Comentario: <span th:text="${anuncioEscogido.descripcion}"></span>
	<br>
	<a th:href="@{anuncioTabla}">Volver al tablón de anuncios.</a>
</body>

</html>