* {
	font-family: sans-serif;
}
form {
	display: flex;
	flex-direction: column;
}
input {
	width: min-content;
}
h1 {
	color: cornflowerblue;
}
td {
	padding: 10px 15px;
	border: 2px solid black;
}
table {
	border-collapse: collapse;
}
.cabecera {
	background-color: lightgray;
}
img {
	width: 300px;
	height: 200px;
}